A1 02:01
A2 02:01
B1 27:05
B2 15:18
C1 07:04
C2 02:02
Input_file /home/biopharm/Software/TSNAD_update-master/results/vep_results/mutect_call_adj_vep_filtered.txt
Outputs_folder /home/biopharm/Software/TSNAD_update-master/results/netmhcpan_results/
netMHCpan_folder /home/biopharm/Software/TSNAD_update-master/Tools/netMHCpan-4.0/
peptide_length 8,9,10,11
