A1 02:07
A2 26:01
B1 39:01
B2 50:01
C1 06:02
C2 07:02
Input_file /home/biopharm/Research/NAJ/NAG1606001/output/annovar_results/mutect_call_missenseMutation.txt
Outputs_folder /home/biopharm/Research/NAJ/NAG1606001/output/netMHCpan_results/
netMHCpan_folder /home/biopharm/Software/netMHCpan/netMHCpan-2.8/
peptide_length 8,9,10,11
strong_binding 150
weak_binding 500
